@charset "utf-8";
/* CSS Document */

        /* Shared styles */

        .containerdrop-shadow {
    		 border: 1px solid #d4d4d4;
            padding:1em;
            margin:1em 10px 4em;
			color: #333;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					position: relative;
					z-index: 2;
        }
        .drop-shadow {
    		 border: 1px solid #d4d4d4;
            padding:1em;
            margin:1.7em 10px 0em;
			height: 18em;
			color: #333;
            background:#fff;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					position: relative;
					z-index: 2;
        }
		.drop-shadowbottom {
					height: 14em;
            margin:1.7em 10px 1.5em;
}

        .drop-shadow:before,
        .drop-shadow:after {
            content:"";
            position:absolute;
            z-index:-2;
        }

        .drop-shadow p {
            font-size:16px;
            font-weight:bold;
        }
.drop-shadow h3 {
		font-size:2em;
		color: #365375;
		line-height:1.583em;
		text-align:left;
		margin:-2px 0 0 0;
		font-family: 'Helvetica W01 Cn',arial,sans-serif;
		font-weight: 100;
		text-shadow: 0px 1px 2px #666;
	}

        /* Lifted corners */

        .lifted {
            -moz-border-radius:5px;
                 border-radius:5px;
        }

