@charset "utf-8";
/* CSS Document */

	#pagewidth {width:100%;}
	.center {
		max-width:960px;
		width:100%;
		margin:0 auto;
	}
	.center:after {
		content:"";
		clear:both;
		display:block;
	}

	.right { float:right;} 
	.left { float:left;}
	.leftsubfooter { float:left; width: 50%;}
	.rightsubfooter { float:left;width: 50%;}
	.alignLeft{
		float:left;
		margin-right:1em;
	}
	.alignRight{
		float:right;
		margin-left:1em;
	}
	.fullWidth{width:100%;}
	.fullWidth img{width:100%;}
/*
	.grey{
		background:#E7F3FB;
		color:#fff;
	}
	.grey h1{
		color:#fff;
		text-shadow:0 1px 2px rgba(0,0,0,0.5);
	}
	.grey h2{
		text-shadow:0 1px 2px rgba(0,0,0,0.5);
	}
	.grey .subHeading{
		color:#d9e7fb;
		text-shadow:0 1px 1px rgba(0,0,0,0.5);
	}
	.grey a{color:#0075BE; text-decoration:none;}
	.grey a:hover { text-decoration:none; padding: 2px; background-color: #0074BD; color: #fff;}
*/
	.columns{width:100%	}
	.columns > div,
	.columns > article{
		float:left;
	}
	.columns h2{text-align:left;}
	.container {
		width: 100%;
		float: left;
		margin-top: -10px;
	}
	.top {
		width: 100%;
		float: left;
		height: 21em;
		margin-top: -10px;
	}
	.bottom {
		width: 100%;
		float: left;
		height: 19em;
	}
	.topleft{
		width:30.0%;
		padding: 0 0 0 1.5em;
		float: left;
	}
	.topright{
		width:60.0%;
		padding: 0 0 0 .5em;
		float: left;
	}
	.bottomleft{
		width:30.0%;
		padding: 0 0 0 1.5em;
		float: left;
		height: 230px;
	}
	.bottomright{
		width:60.0%;
		padding: 0 0 0 .5em;
		float: left;
	}
	#footer{
		left: 0;
		top: 0;
		width:100%;
		overflow:hidden;
		padding:.9em 0;
		background-color: #365375;
		border-top: 10px solid #7b858f;
		color: #fff;
	}
	.footerleft {
		float: left;
		width: 50%;
		margin-left: 5px;
	}
	.footerright {
		float: right;
		width: 24%;
	}