	ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		border-bottom: 1px solid #e1e1e1;
		border-left: 1px solid #999999;
		width: 95%;
	}
	ul.tabs li {
		float: left;
		font-family: Tahoma, Geneva, sans-serif;
		margin: 0;
		cursor: pointer;
		padding: 0px 11px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: 500;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
		font-size: 13px;
	}
	ul.tabs li:hover {
		background: #f0b82d;
	}	
	ul.tabs li.active{
		background: #f0b82d;
		border-bottom: 1px solid #365375;
		color: #000;
	}
	.tab_container {
		border: 1px solid #e1e1e1;
		border-top: none;
		clear: both;
		float: left; 
		width: 95%;
		background: #FFFFFF;
		height: 160px;
		font-family: helvetica,arial,sans-serif;
		color: #666666;
		position:relative;
		z-index: 3;
	}
	.tab_container a {
		font-family: helvetica,arial,sans-serif;
		color: #0074bd;
	}
	.tab_container a:hover { text-decoration:none; padding: 2px; background-color: #0075BE; color: #fff;}

	.tab_content {
		padding: 10px;
		font-size: 1em;
		display: none;
	}
	.tab_content p {
		font-size: .9em;
		font-weight:normal;

	}
	.tab_container2 {
		border: 1px solid #e1e1e1;
		border-top: none;
		clear: both;
		float: left; 
		width: 95%;
		background: #FFFFFF;
		min-height: 200px;
		font-family: helvetica,arial,sans-serif;
		color: #666666;
	}