.accordion-header {
	font-size: 16px;
	background: #365375;
	margin: 5px 0 0 0;
	padding: 5px 20px;
	border: 1px solid #cccccc;
	cursor: pointer;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: url(../img/active-header.gif) #0074BD;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #fff;
}

.active-header:hover {
	background: url(../img/active-header.gif) #365375;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(../img/inactive-header.gif) #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(images/inactive-header.gif) #0074BD;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #fff;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}